@font-face {
    font-family: "NTR";
    font-weight: 200;
    font-display: fallback;
    src: url();
}

#about {
    padding-left: 15%;
    padding-right: 25%;
    min-height: 60vh;
}

.about-desc ul {
    padding-top: 20px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 10px));
}

.about-desc li {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    color: var(--slate);
}

.about-desc li::before {
    content: "▹    ";
    color: var(--light-navy);
    position: absolute;
    left: 0;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-desc {
    font-family: "NTR", sans-serif;
    color: var(--slate);
    max-width: 700px;
    font-size: 20px;
    text-align: justify;
    margin: 0;
}

.about-desc a,
.about-desc b {
    font-size: 20px;
    font-weight: bold;
}