.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-right: 5%;
    bottom: 10%;
    background-color: transparent;
}

.rs-sidenav-subtle {
    background-color: transparent !important;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: "NTR", sans-serif;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-size: 16px;
    padding: 0.2em;
    font-weight: bold;
}

.sidebar-links a {
    text-decoration: none !important;
    color: var(--bright-blue) !important;
    position:relative;
    padding-right: 10px;
    transition: all 0.5s;
    opacity: 50%;
}

.sidebar-links a::after {
    content: "";
    position: absolute;
    top: 50%; 
    left: 100%; 
    width: 25px; 
    height: 1px;
    background-color: var(--bright-blue);
    transform: translateY(-50%);
    transition: all 0.15s;
    opacity: 50%;
}

.sidebar-links a:hover::after {
    width: 50px;
    opacity: 100%;
    background-color: var(--white);
}
.sidebar-links a:hover {
    color: var(--white) !important;
    padding-right: 25px;
    opacity: 100%;
}

.sidebar-logos {
    padding-top: 30px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
}

.sidebar-logos a {
    padding-left: 10px;
}

.img {
    height: 18px;
}

.sidebar-links a.active-link {
    color: white !important; 
    opacity: 100%;
    transition: all 0.15s;
    padding-right: 25px;
}

.sidebar-links a.active-link::after {
    width: 50px;
    opacity: 100%;
    background-color: var(--white) !important;
}
